# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# IDE files
.idea/
.vscode/

# Logs
*.log

# Environment variables
.env

# Ignore translated folder and its contents
translated/*

# Ignore uploaded files
uploads/*